<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
    <h2>ほしいもの一覧</h2>
    <div id="app">
        <input type="text" v-model="message">
        <ul>
          <li v-for="(item, key) in items">{{ item.message }} <button v-on:click="deleteItem(key)">deleteItem</button></li>
        </ul>
        <button v-on:click="addItem">ほしいものを追加する</button>
    </div>

  <script>
var app = new Vue({
      el: '#app',
      data: {
        message: '',
        items: []
      },
      methods: {
        addItem: function() {
          this.items.push({message: this.message})
          this.message = ''
        },
        deleteItem: function(key) {
          Vue.delete(this.items, key)
        }
      }
    })
  </script>
</body>
</html>
